.Methods {
  top: 70%;
  position: absolute;
  margin-left: 47%;
  font-size: 18px;
}

.mainc {
  margin-left: 39%;
  font-size: 53px;
}

.formboxC {
  top: 49%;
  position: absolute;
  margin-left: 39%;
  width: 25%;
}
